/*
 * Copyright © 2005-2009 Cosmopoly Europe EOOD (http://netenberg.com).
 * All Rights Reserved.
 *
 * This Cosmopoly Europe EOOD work (including software, documents, or
 * other related items) is being provided by the copyright holder under
 * the following license. By obtaining, using and/or copying this work,
 * you (the licensee) agree that you have read, understood, and will
 * comply with the following terms and conditions:
 *
 * Permission to use, copy, modify, and distribute this software and its
 * documentation, with or without modification, for any purpose and
 * without fee or royalty is hereby granted, provided that you include
 * the following on ALL copies of the software and documentation or
 * portions thereof, including modifications, that you make:
 *
 * 1. The full text of this NOTICE in a location viewable to users of the
 * redistributed or derivative work.
 *
 * 2. A short notice of the following form (hypertext is preferred, text
 * is permitted) should be used within the body of any redistributed or
 * derivative code: "Copyright © 2005-2009 Cosmopoly Europe EOOD
 * (http://netenberg.com). All Rights Reserved."
 *
 * 3. Notice of any changes or modifications to the W3C files, including
 * the date changes were made. (We recommend you provide URIs to the
 * location from which the code is derived.)
 *
 * THIS SOFTWARE AND DOCUMENTATION IS PROVIDED "AS IS," AND COPYRIGHT
 * HOLDERS MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY OR FITNESS
 * FOR ANY PARTICULAR PURPOSE OR THAT THE USE OF THE SOFTWARE OR
 * DOCUMENTATION WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS,
 * TRADEMARKS OR OTHER RIGHTS.
 * COPYRIGHT HOLDERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL
 * OR CONSEQUENTIAL DAMAGES ARISING OUT OF ANY USE OF THE SOFTWARE OR
 * DOCUMENTATION.
 *
 * The name and trademarks of copyright holders may NOT be used in
 * advertising or publicity pertaining to the software without specific,
 * written prior permission. Title to copyright in this software and any
 * associated documentation will at all times remain with copyright
 * holders.
 */

/*
 * ##################################################################
 * Default style sheet
 * ##################################################################
 */
BODY, TABLE, TH, TR, TD, UL, OL, LI, P, FONT, A, BLOCKQUOTE, LABEL
{
	font-family: Verdana, sans-serif;
	font-size: 12px;
}
.accountlabPageBODY
{
}

.accountlabFormTABLE
{
	border-top: 1px solid #9C929C;
	border-left: 1px solid #9C929C;
	border-bottom: 1px solid #9C929C;
	border-right: 1px solid #9C929C;
}
.accountlabFormHeaderFont
{
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}
.accountlabFieldCaptionTD
{
	border: 1px solid #CFC6D0;
	background-color: #336699;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
.accountlabAltDataTD
{
	border-top: 1px solid #9C929C;
	border-left: 1px solid #9C929C;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	background-color: #F1F1F1;
	color: #000000;
	font-size: 12px;
}
.accountlabColumnTD{
	border-top: 1px solid #336699;
	border-left: 1px solid #336699;
	border-bottom: 1px solid #336699;
	border-right: 1px solid #336699;
	background-color: #336699;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
.accountlabColumnTDred{
	border-top: 1px solid #FF9933;
	border-left: 1px solid #FF9933;
	border-bottom: 1px solid #FF9933;
	border-right: 1px solid #FF9933;
	background-color: #FF9933;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
.accountlabDataTD
{
	border-top: 1px solid #9C929C;
	border-left: 1px solid #9C929C;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	background-color: #EDE7EE;
	color: #000000;
	font-size: 12px;
}
.accountlabSeparatorTD
{
	height: 0px;
}
.accountlabFooterTD
{
	border: 1px solid #CFC6D0;
	border-color: #336699;
	background-color: #CFC6D0;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
a.accountlabSorterLink:link,a.accountlabSorterLink:visited
{
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
a.accountlabSorterLink:hover,a.accountlabSorterLink:active
{
	color: #8C798C;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none; 
}
a.accountlabDataLink:link,a.accountlabDataLink:visited
{
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}
a.accountlabDataLink:hover,a.accountlabDataLink:active
{
	color: #000000;
	font-size: 12px;
	text-decoration: underline;
}
a.accountlabNavigatorLink:link,a.accountlabNavigatorLink:visited
{
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: underline;
}
a.accountlabNavigatorLink:hover,a.accountlabNavigatorLink:active
{
	color: #8C798C;
	font-size: 12px;
	text-decoration: none;
}
.accountlabButton
{
	border-bottom:1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	background-color: #EDE7EE;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, sans-serif;
}
.accountlabInput
{
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}
.accountlabTextarea
{
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}
.accountlabTextarea1
{
	border-bottom: 0px solid #000000;
	border-left: 0px solid #000000;
	border-right: 0px solid #000000;
	border-top: 0px solid #000000;
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}
.accountlabSelect
{
	font-size: 12px;
	font-family: Verdana, sans-serif;
}
.accountlabSmallGrey
{
	color: grey;
	font-size: 10px;
	font-family: Verdana, sans-serif;
}
