/*
 * Copyright © 2005-2009 Cosmopoly Europe EOOD (http://netenberg.com).
 * All Rights Reserved.
 *
 * This Cosmopoly Europe EOOD work (including software, documents, or
 * other related items) is being provided by the copyright holder under
 * the following license. By obtaining, using and/or copying this work,
 * you (the licensee) agree that you have read, understood, and will
 * comply with the following terms and conditions:
 *
 * Permission to use, copy, modify, and distribute this software and its
 * documentation, with or without modification, for any purpose and
 * without fee or royalty is hereby granted, provided that you include
 * the following on ALL copies of the software and documentation or
 * portions thereof, including modifications, that you make:
 *
 * 1. The full text of this NOTICE in a location viewable to users of the
 * redistributed or derivative work.
 *
 * 2. A short notice of the following form (hypertext is preferred, text
 * is permitted) should be used within the body of any redistributed or
 * derivative code: "Copyright © 2005-2009 Cosmopoly Europe EOOD
 * (http://netenberg.com). All Rights Reserved."
 *
 * 3. Notice of any changes or modifications to the W3C files, including
 * the date changes were made. (We recommend you provide URIs to the
 * location from which the code is derived.)
 *
 * THIS SOFTWARE AND DOCUMENTATION IS PROVIDED "AS IS," AND COPYRIGHT
 * HOLDERS MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY OR FITNESS
 * FOR ANY PARTICULAR PURPOSE OR THAT THE USE OF THE SOFTWARE OR
 * DOCUMENTATION WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS,
 * TRADEMARKS OR OTHER RIGHTS.
 * COPYRIGHT HOLDERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL
 * OR CONSEQUENTIAL DAMAGES ARISING OUT OF ANY USE OF THE SOFTWARE OR
 * DOCUMENTATION.
 *
 * The name and trademarks of copyright holders may NOT be used in
 * advertising or publicity pertaining to the software without specific,
 * written prior permission. Title to copyright in this software and any
 * associated documentation will at all times remain with copyright
 * holders.
 */

/* ====================================================================
  LINKS AND BODY SECTION
-------------------------------------------------------------------- */

body{
  margin: 0px;
  background-color: #FFFFFF;
  font-family: Tahoma
}

a{
  font-size: 12px;
  font-weight: normal;
  color: #11558A;
  text-decoration: underline;
}

a:hover{
  font-size: 12px;
  font-weight: normal;
  color: #1773BB;
  text-decoration: underline;
}

H1{
  color: #0A5774;
  font-family: Tahoma;
  font-size: 15px;
  font-weight: bold;
  margin:0px;
  padding-top:5px;
  padding-bottom:5px; padding-left:0px; padding-right:0px
}

H2{
  color: #0A5774;
  font-family: Tahoma;
  font-size: 12px;
  font-weight: bold;
  margin:0px;
  padding-top:5px;
  padding-bottom:5px; padding-left:0px; padding-right:0px; text-decoration:underline
}

H3{
  color: #0A5774;
  font-family: Tahoma;
  font-size: 13px;
  font-weight: bold;
  margin:0px;
  padding-bottom:5px; padding-left:0px; padding-right:0px
}

H4{
  color: #0A5774;
  font-family: Tahoma;
  font-size: 15px;
  font-weight: bold;
  margin:0px;
  padding-bottom:5px; padding-left:0px; padding-right:0px
}

.menu a {
  color: #333333;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  font-family: Tahoma; text-align:center
}

.menu a:hover {
  color: #FF3300;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  font-family: Tahoma; text-align:center
}

.sublink a {
  color: #333333;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  font-family: Tahoma; text-align:center
}

.sublink a:hover {
  color: #FF3300;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  font-family: Tahoma; text-align:center
}



/* ====================================================================
  TABLES SECTION
-------------------------------------------------------------------- */

.tdtable1{
   height:100%; 
   width:527;
}

.maintable{
   padding:0; 
   width:513;
   margin: 0px;
   align:center;
}

.maintable1{
   height:100%; 
   width:513px;
}

.maintable2{
   height:100%; 
   width:233;
}

.shadowleft{
   padding:0; 
   width:25;
   background-image:url("../images/psd_01.jpg")
}

.shadowright{
   padding:0; 
   width:24;
   background-image:url("../images/psd_04.jpg")
}

.headerlogo{
  width:209; 
  height:101;
  background-image:url("../images/logobg.jpg"); 
  letter-spacing:-2pt; 
  font-family:HeliosBlack; 
  color:#FF9900; 
  padding-left:0px; 
  padding-right:0px; 
  padding-top:0px; 
  padding-bottom:0px; font-size:25pt; 
}

.headercontents{
	letter-spacing:-1pt;
	height:86px;
	font-family:Arial;
	color:#333333;
	font-size:15pt;
	font-weight:bold;
	background-image: url("../images/headercontents.jpg");
}

.rightblock{
  width:193;
  height:100%; 
  font-family:Tahoma; font-size:12px;
  text-align:left; background-image:url("../images/rightblock.jpg"); 
  padding-left:28px; 
  padding-right:15px; 
  padding-top:5px; 
  padding-bottom:0px;
}


.headerlinks{
  text-align:left;
  width:502px;
  height:28;
  padding:0px; background-image:url("../images/headerlinks.jpg")
}

.headerlinks2{
  width:100%;
  height:33;
  padding:0px; background-image:url("../images/sublinks.jpg")
}

.tablecontents{
  width:484;
  height:100%;
  background-image:url("../images/tablecontents.jpg");
  font-family:Tahoma; font-size:12;
  padding-left:15px; 
  padding-right:15px; 
  padding-top:15px; 
  padding-bottom:0px; background-repeat:no-repeat
}

.tablefooter{
  padding:8px;
  width:500;
  height:65;
  background-image:url("../images/footer.gif");
  background-repeat:no-repeat;
  font-family:Tahoma; font-size:11; color:#000000; text-transform:uppercase; font-weight:bold; text-align:center
}

.tablefooter2{
  padding:8px;
  width:198;
  height:65;
  background-image:url("../images/footer2.jpg");
  font-family:Tahoma; font-size:11; color:#000000; text-transform:uppercase; font-weight:bold; text-align:center
}

/* ====================================================================
  BOXES SECTION
-------------------------------------------------------------------- */

.box1{
  border:1px solid #999999; 
  padding:8px; width:250;
  background-color:#F0F0F0; 
  font-family:Tahoma; font-size:11 
}

.box1_sub{ 
  padding:8px; width:100%;
  background-color:#F0F0F0; 
  font-family:Tahoma; font-size:11; color:#336699; font-weight:bold 
}

.package{
  border:1px solid #C0C0C0; 
  padding:4px; width:100%; 
  font-family:Tahoma; font-size:11; text-align:center 
}

.package_header{ 
  padding:4px; width:25%; 
  height:20;
  text-align:center;
  font-family:Tahoma; font-size:12; text-transform:uppercase; font-weight:bold; background-color:#E4E4E4; color:#336699 
}

.package_row1{
  padding:4px; width:25%; 
  height:20;
  text-align:center;
  font-family:Tahoma; font-size:12; background-color:#F4F4F4 
}

.package_row2{
  padding:4px; width:25%;
  height:20;
  text-align:center;
  font-family:Tahoma; font-size:12; background-color:#FFFFFF 
}
/* ##################################################################
 * Default style sheet
 * ##################################################################
 */

/********* form and related tag styles *********/

.alpform {
	margin: 0;
	padding: 0;
}

.alplabel{
  font-family : Verdana, Arial, Helvetica, sans-serif;
 color: #334d55;
}
				
.alpinput{
 font-family: Verdana, Arial, Helvetica, sans-serif;
 color: #334d55;
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/
#pagecell1{
	background-color: #ffffff;
}

#tl {
	position:relative;
	top: -1px;
	left: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}

#tr {
	position:relative;
	top: -1px;
	right: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}

#masthead{
	position: relative;
	top: 0px;
	left: 2%;
	right: 2%;
	width:98%;
	
}

#pageNav{
	float: left;
	width:100px;
	padding: 0px;
	background-color: #F5f7f7;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font: small Verdana,sans-serif;
}

#content{
	padding: 0px 10px 0px 0px;
	margin:0px 0px 0px 100px;
	border-left: 1px solid #ccd2d2;
}


/***********************************************/
/* Component Divs                              */
/***********************************************/
#siteName{
	margin: 0px;
	padding: 16px 0px 8px 0px;
	color: #000000;
	font-weight: normal;
	display:none;
}

/************** pageName styles ****************/

#pageName{
	padding: 10px 0px 10px 10px;
	margin: 0px;
	border-bottom:1px solid #ccd2d2;
}

#pageName h2{
	font: bold 100% Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin:0px;
	padding: 0px;
}

/*************** story styles ******************/

.story {
	padding: 2px 2px 2px 2px;
	font-size: 80%;
	halign : top;
}

.story h3{
	font: bold 125% Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.story p {
	padding: 0px 0px 10px 0px;
}

.story a.capsule{
	font: bold 1em Verdana, Arial, Helvetica, sans-serif;
	color: #005FA9;
	display:block;
	padding-bottom: 5px;
}

.story a.capsule:hover{
	text-decoration: underline;
}

td.storyLeft{
	padding-right: 12px;
}


/************** siteInfo styles ****************/

#siteInfo{
	clear: both;
	border-top: 1px solid #cccccc;
	font-size: small;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
	margin-top: -1px;
}

#siteInfo img{
	padding: 4px 4px 4px 0px;
	vertical-align: middle;
}


/************ sectionLinks styles **************/

#sectionLinks{
	margin: 0px;
	padding: 0px;

}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
	border-bottom: 1px solid #cccccc;
}

#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
	padding: 3px 0px 3px 10px;
	color: #21536A;
}

#sectionLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #DDEEFF;
	background-image: none;
	font-weight: bold;
	text-decoration: none;
}


/************* relatedLinks styles **************/

.relatedLinks{
	margin: 0px;
	padding: 0px 0px 10px 10px;
	border-bottom: 1px solid #cccccc;
}

.relatedLinks h3{
	padding: 10px 0px 2px 0px;
}

.relatedLinks a{
	display: block; 
}

/************** tabs and tbody styles ********************/
tbody.on { 
    display:table-row-group; 
}
tbody.off { 
    display:none; 
}
.tabs {
  float:left;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-bottom-width: 0px;
  padding: 4px 2px 4px 2px;
  text-decoration: none; 
  font-weight: bold;   
  font-size: x-small;
  color: #000000;
}
.tabs1 {
  float:left;
  background-color: #c0c0c0;
  border: 1px solid #000000;
  border-bottom-width: 0px;
  padding: 4px 2px 4px 2px;
  text-decoration: none; 
  font-weight: bold;   
  font-size: x-small;
  color: #000000;
  cursor: hand;
}
.tabs2 {
  float:left;
  background-color: #DDEEFF;
  border: 1px solid #000000;
  border-bottom-width: 0px;
  padding: 4px 2px 4px 2px;
  text-decoration: none;
  font-weight: bold; 
  font-size: x-small;
  color: #000000;
}
.tab_separator {
  float:left;
  background-color: #ffffff;
  border: 0px solid #000000;
  padding: 0px;
  text-decoration: none;    
}
div.tabContent {
  margin-top:20px;
  margin-right:4px;
  margin-bottom:4px;
  display: none;
  border: 1px solid #000000;
  padding:4px;
}
/**************tables**********************/
.accountlabFormTABLE
{
	background-color: white
}
.accountlabDataTD
{
	background-color: #FFFFFF;
	font-size: 11px;
}
.accountlabAltDataTD
{
	background-color: #EEEEEE;
	font-size: 11px;
}
.accountlabPlanDataHTD
{
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #000000;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #000000;
	background-color: #CCCCCC;
	color: #000000;
	font-size: 11px;
}
.accountlabButton
{
	color: #000000;
	background-color: #CCCCCC;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.accountlabInput
{
	font-family: Verdana, sans-serif;
	font-size: 11px;
}
a.accountlabPlanLink:link,a.accountlabPlanLink:visited
{
	color: #000080;
	text-decoration: underline;
	font-size: 11px;
}
a.accountlabPlanLink:hover,a.accountlabPlanLink:active
{
	color: #FF0000;
	text-decoration: underline;
	font-size: 11px;
}
/********************* end **********************/
