/*
 * Copyright © 2005-2009 Cosmopoly Europe EOOD (http://netenberg.com).
 * All Rights Reserved.
 *
 * This Cosmopoly Europe EOOD work (including software, documents, or
 * other related items) is being provided by the copyright holder under
 * the following license. By obtaining, using and/or copying this work,
 * you (the licensee) agree that you have read, understood, and will
 * comply with the following terms and conditions:
 *
 * Permission to use, copy, modify, and distribute this software and its
 * documentation, with or without modification, for any purpose and
 * without fee or royalty is hereby granted, provided that you include
 * the following on ALL copies of the software and documentation or
 * portions thereof, including modifications, that you make:
 *
 * 1. The full text of this NOTICE in a location viewable to users of the
 * redistributed or derivative work.
 *
 * 2. A short notice of the following form (hypertext is preferred, text
 * is permitted) should be used within the body of any redistributed or
 * derivative code: "Copyright © 2005-2009 Cosmopoly Europe EOOD
 * (http://netenberg.com). All Rights Reserved."
 *
 * 3. Notice of any changes or modifications to the W3C files, including
 * the date changes were made. (We recommend you provide URIs to the
 * location from which the code is derived.)
 *
 * THIS SOFTWARE AND DOCUMENTATION IS PROVIDED "AS IS," AND COPYRIGHT
 * HOLDERS MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY OR FITNESS
 * FOR ANY PARTICULAR PURPOSE OR THAT THE USE OF THE SOFTWARE OR
 * DOCUMENTATION WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS,
 * TRADEMARKS OR OTHER RIGHTS.
 * COPYRIGHT HOLDERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL
 * OR CONSEQUENTIAL DAMAGES ARISING OUT OF ANY USE OF THE SOFTWARE OR
 * DOCUMENTATION.
 *
 * The name and trademarks of copyright holders may NOT be used in
 * advertising or publicity pertaining to the software without specific,
 * written prior permission. Title to copyright in this software and any
 * associated documentation will at all times remain with copyright
 * holders.
 */

/* ====================================================================
  GENERAL MARKUP
-------------------------------------------------------------------- */

* {
	margin: 0px;
	padding: 0px;
	line-height: 1.16em;
}

img {
	border: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-size: 12px;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-weight: normal;
	background: #90A2AA url("../images/background.gif") repeat-y center;
}

h1, h2, h3, h4, h5, h6 {
	color: #00689c;
}
h1 { font-size: 1.66em; font-weight: normal;}
h2 { font-size: 1.16em; }
h3 { font-size: 1.08em; }
h5 { font-size: 1.em; }

p {
	margin-top: 10px;
}

a:link { color: #006fa3; text-decoration: none; }
a:visited { color: #006fa3; text-decoration: none; }
a:hover { color: #006fa3; text-decoration: underline; }
a:active { color: #006fa3; text-decoration: none; }



/* ====================================================================
  Header & Footer
-------------------------------------------------------------------- */

p.slogan {
	font-size: 14px;
	font-weight: bold;
	color: #6aafda;
}

p.company {
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	margin-top: 2px; 
}

p.support {
	font-size: 1.5em;
	color: #990300;
}

p.support-number {
	font-size: 1.3em;
	font-weight: bold;
	color: #990300;
	margin-top: 4px; 
}

#footer {
  font-size: 10px;
}


/* ====================================================================
  STARTPAGE SYLE
-------------------------------------------------------------------- */

h1 {
	margin-bottom: 15px;
}
h2 {
	margin-top: 35px;
}
p {
	line-height: 1.4em;
}
ul{
	margin: 20px 5px 10px 5px;
}
ul li {
	margin-top: 2px;
   padding-left: 15px;
	background: url("../images/list.png") no-repeat left;
	list-style: none;
}

/* ====================================================================
  LAYOUT
-------------------------------------------------------------------- */

#wrap1 {
  position: absolute;
  left: 50%; margin-left: -379px; 
  width: 756px;
  height: 100%;
}

#header {
	height: 92px;
}

#menu {
	height: 32px;
	background: url("../images/menu.png");
}

#submenu {
	height: 28px;
	background: url("../images/submenu.png") repeat-x left;
}

#content {
	background-color: #FFFFFF;
}

#footer {
  height: 37px;
  background-color: #afbcc2;
}

/*##########################################################################################################
============================================================================================================
Client-Side Display Elements
------------------------------------------------------------------------------------------------------------
This is the from default CMS stylesheet for all client-side (visitor facing).
============================================================================================================
##########################################################################################################*/

/* >> General */

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.sohotext {
	font-family : Arial;
	font-size: 12px;
}

.SMtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.smtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.uptext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #000000;
}

/* Generic form button style. */
.FormLt1 {
	font-family : Arial;
	font-size : 8px;
	cursor: pointer;
}




/* >> Menu System - #VMENU# */


/* >> Main Menu Links */

/* This is the main vmenu table */
/* ---------------------------------------------------------------------- */
/* <table> */
   table.vmenu_mainz {
      width: 100%;
      border: 0px;
      padding: 0px 0px 0px 0px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px; 
		font-weight: bold;
   }

 /* <tr> */  
 
  /* <td> ---- [<div><a>Main Page</a></div>] ---- </td>
  /*-----------------------------------------------------------*/
     td.vmenu_main_off {
        width: 100%;
        border: 0px;
        padding: 8px 5px 0px 10px;
        font-weight: normal;
     }
     td.vmenu_main_on {
        width: 100%;
        border: 0px;
        padding: 8px 5px 0px 10px;
        font-weight: bold;
     }
  
   /* <div> ---- [<a>Main Page</a>] ---- </div>
   /*-----------------------------------------------------------*/
      div.vmenu_main_off {
         width: 100%;
      }
      div.vmenu_main_on {
         width: 100%;
      }    
  
    /* <a> ---- [Main Page] ---- </a>
    /*-----------------------------------------------------------*/  
       a.vmenu_main_off:link { color: #FFFFFF; text-decoration: none; border-bottom: 0px solid #000000; }
       a.vmenu_main_off:visited { color: #FFFFFF; text-decoration: none; border-bottom: 0px solid #000000; }
       a.vmenu_main_off:hover { color: #4fabfd; text-decoration: none; border-bottom: 0px solid #000000; }
       a.vmenu_main_off:active { color: #4fabfd; text-decoration: none; border-bottom: 0px solid #000000; }
       
       a.vmenu_main_on:link { color: #FFFFFF; text-decoration: underline; }
       a.vmenu_main_on:visited { color: #FFFFFF; text-decoration: underline; }
       a.vmenu_main_on:hover { color: #4fabfd; text-decoration: underline; }
       a.vmenu_main_on:active { color: #4fabfd; text-decoration: underline; }
    
   /* </div> */
  /* </td> */
 /* </tr> */  

/* >> Sub Menu Links */
 
 /* <tr> */
 
  /* <td> ---- [<table><tr><td><div> >> </div></td><td><div><a>Main Page</a></div></td></table>] ---- </td>
  /*-------------------------------------------------------------------------------------------------------------*/
     td.vmenu_main_sub {
        width: 100%;
        border: 0px;
        padding: 0px 0px 0px 0px;
     }
   
   /* <table> Submenu link table */
   /*-----------------------------------------------------------*/   
      table.vmenu_subz {
        width: 100%;
        border: 0px;
        padding: 0px 0px 0px 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
      }
    
    /* <tr> */
    
     /* <td> Submenu Item Bullet */
     /*-----------------------------------------------------------*/        
        td.vmenu_sub_bull_off {
           width: 20px;
           padding: 3px 0px 0px 13px;
           font-size: 11px;
           font-weight: bold;
           color: #858585;
        }
        td.vmenu_sub_bull_on {
           width: 20px;
           padding: 3px 0px 0px 13px;
           font-size: 11px;
           font-weight: bold;
           color: #4fabfd;
        }
 
      /* <div> Contains an individual main menu link (within td)
      /*-----------------------------------------------------------*/        
         div.vmenu_sub_bull_off {
            padding: 0px;
            width: 100%;
         }
         
         div.vmenu_sub_bull_on {
            padding: 0px;
            width: 100%;
         }            
         
      /* </div> */
      
     /* </td> */
     
     /* <td> Submenu Item Link */
     /*-----------------------------------------------------------*/    
        td.vmenu_sub_off {
           width: 100%;
           border: 0px;
           padding: 3px 0px 0px 5px;
           font-size: 11px;
           font-weight: normal;
        }
        td.vmenu_sub_on {
           width: 100%;
           border: 0px;
           padding: 3px 0px 0px 5px;
           font-size: 11px;
           font-weight: bold;   
        }
        
      /* <div> Contains an individual main menu link (within td)
      /*-----------------------------------------------------------*/          
         div.vmenu_sub_off {
            width: 100%;
            border: 0px;
            padding: 0px 0px 0px 0px;
         
         }
         
         div.vmenu_sub_on {
            width: 100%;
            border: 0px;
            padding: 0px 0px 0px 0px;
        }

       /* <a href=> A cell containing an individual main menu link
       /*-----------------------------------------------------------*/ 
          a.vmenu_sub_off:link { color: #FFFFFF; text-decoration: none; }
          a.vmenu_sub_off:visited { color: #FFFFFF; text-decoration: none; }
          a.vmenu_sub_off:hover { color: #4fabfd; text-decoration: none; }
          a.vmenu_sub_off:active { color: #4fabfd; text-decoration: none; }
          
          a.vmenu_sub_on:link { color: #FFFFFF; text-decoration: none; }
          a.vmenu_sub_on:visited { color: #FFFFFF; text-decoration: none; }
          a.vmenu_sub_on:hover { color: #4fabfd; text-decoration: none; }
          a.vmenu_sub_on:active { color: #4fabfd; text-decoration: none; }
       /* </a> */    
      
      /* </div> */
      
     /* </td> */          
 
/* =========================================================== */



/* >> Menu System - #HMAINS# */

/* This is the main hsub table */
table.hmains {
   border: 0px;
   padding: 0px;

	margin: 0px 20px;
	height: 20px;

   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
	color: #FFFFFF;
}

/* This cell contains a submenu link */
td.hmains {
   border: 0px;
	padding: 0px 15px 0px 10px;
	background: url("../images/arrow.gif") no-repeat left;
}

a.hmains { line-height: 20px; margin-left: 5px; }
a.hmains:link { color: #FFFFFF; text-decoration: none; }
a.hmains:visited { color: #FFFFFF; text-decoration: none; }
a.hmains:hover { color: #4fabfd; text-decoration: underline; }
a.hmains:active { color: #4fabfd; text-decoration: none; }





/* >> Menu System - #HSUBS# */

/* This is the main hsub table */
table.hsubs {
   border: 0px;
   padding: 0px 0px 0px 0px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
}

/* This cell contains a submenu link */
td.hsubs {
   border: 0px;
   padding: 0px 10px 2px 10px;
}

a.hsubs:link { color: #FFFFFF; text-decoration: none; }
a.hsubs:visited { color: #FFFFFF; text-decoration: none; }
a.hsubs:hover { color: #d4d4d4; text-decoration: underline; }
a.hsubs:active { color: #d4d4d4; text-decoration: none; }




/* >> Menu System - #HSUBS# *** FOR FOOTER */

/* This is the main hsub table */
#footer table.hsubs {
   border: 0px;
   padding: 0px 0px 0px 0px;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
}

/* This cell contains a submenu link */
#footer td.hsubs {
   border: 0px;
   padding: 0px 10px 2px 10px;
}

#footer a.hsubs:link { color: #000000; text-decoration: none; }
#footer a.hsubs:visited { color: #000000; text-decoration: none; }
#footer a.hsubs:hover { color: #FFFFFF; text-decoration: underline; }
#footer a.hsubs:active { color: #FFFFFF; text-decoration: none; }




/* >> #NEWSBOX# */

/* Newsbox
/*-----------------------------------------------------------*/

/* <font> */
.newsbox_date {
   font-family: arial, verdana, Courier New, Courier, mono;
   font-size: 10px;
   font-weight: normal;
   color: #939a9e;
}

.newsbox {
   font-family: arial, helvetica, sans-serif; 
   font-size: 11px;
	font-weight: bold;
	margin: 0px 0px 0px 5px;
}

a.newsbox:link { color: #003f7c; text-decoration: none; }
a.newsbox:visited { color: #003f7c; text-decoration: none; }
a.newsbox:hover { color: #003f7c; text-decoration: underline; }
a.newsbox:active { color: #003f7c; text-decoration: none; }

/* <font> */
.newsbox_tease {
   font-family: Arial, helvetica, sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #000000;
	margin: 2px 0px 15px 0px;
}

/* Full Ariticle Display
/*-----------------------------------------------------------*/
table.article_table {
   font-family: arial, helvetica, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000000;
}

td.article_title {
   font-family: Courier New, Courier, mono;
   font-size: 16px;
   font-weight: bold;
   color: #2E2E2E;
}

font.article_date {
   color: #336699;
}
      
td.article_content {
   padding: 4px;
}

/* >> Old Styles (to be phased out after obsolecense is assured) */
textarea {
	font-size:8pt;
	height:75px;
	width:175px;
}

.logohead {
	font-family : Arial;
	font-size : 25pt;
	font-weight : bold;
}

.logosub {
	font-family : Arial;
	font-size : 8pt;
	font-weight : bold;
}

.menusys {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

/*
 * ##################################################################
 * Default style sheet
 * ##################################################################
 */
BODY, TABLE, TH, TR, TD, UL, OL, LI, P, FONT, A, BLOCKQUOTE, LABEL
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.accountlabPageBODY
{
}

.accountlabFormTABLE
{
	border-top: 1px solid #9C929C;
	border-left: 1px solid #9C929C;
	border-bottom: 1px solid #9C929C;
	border-right: 1px solid #9C929C;
}
.accountlabFormHeaderFont
{
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}
.accountlabFieldCaptionTD
{
	border: 1px solid #CFC6D0;
	background-color: #E3DAB3;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
.accountlabAltDataTD
{
	border-top: 1px solid #9C929C;
	border-left: 1px solid #9C929C;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	background-color: #F1F1F1;
	color: #000000;
	font-size: 12px;
}
.accountlabColumnTD{
	border-top: 1px solid #E3DAB3;
	border-left: 1px solid #E3DAB3;
	border-bottom: 1px solid #E3DAB3;
	border-right: 1px solid #E3DAB3;
	background-color: #1A3C4D;#
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
.accountlabColumnTDred{
	border-top: 1px solid #F4F0E0;
	border-left: 1px solid #F4F0E0;
	border-bottom: 1px solid #F4F0E0;
	border-right: 1px solid #F4F0E0;
	background-color: #00669A;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
.accountlabDataTD
{
	border-top: 1px solid #9C929C;
	border-left: 1px solid #9C929C;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	background-color: #9CCFFE;
	color: #000000;
	font-size: 12px;
}
.accountlabSeparatorTD
{
	height: 0px;
}
.accountlabFooterTD
{
	border: 1px solid #CFC6D0;
	border-color: #336699;
	background-color: #CFC6D0;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
a.accountlabSorterLink:link,a.accountlabSorterLink:visited
{
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
a.accountlabSorterLink:hover,a.accountlabSorterLink:active
{
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none; 
}
a.accountlabDataLink:link,a.accountlabDataLink:visited
{
	color: #000000;
	font-size: 11px;
	text-decoration: underline;
}
a.accountlabDataLink:hover,a.accountlabDataLink:active
{
	color: #000000;
	font-size: 11px;
	text-decoration: none;
}
a.accountlabNavigatorLink:link,a.accountlabNavigatorLink:visited
{
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: underline;
}
a.accountlabNavigatorLink:hover,a.accountlabNavigatorLink:active
{
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: none;
}
.accountlabButton
{
	border-bottom:1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	background-color: #9CCFFE;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, sans-serif;
}
.accountlabInput
{
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}
.accountlabTextarea
{
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}
.accountlabTextarea1
{
	border-bottom: 0px solid #000000;
	border-left: 0px solid #000000;
	border-right: 0px solid #000000;
	border-top: 0px solid #000000;
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}
.accountlabSelect
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
